In [1]:
print("Hello World")

Hello World

In [11]:
list1=[4,5,2,9,1,3,8,7,6,0]
list1.sort()
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list2=[4,5,2,9,1,3,8,7,6,0]
List_sorted=sorted(list2)
print(List_sorted)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#sorting the list using loop
list2=[4,5,2,9,1,3,8,7,6,0]
print(list2)
for i in range(len(list2)):
  for j in range(i+1,len(list2)):
    if list2[i]>list2[j]:
      list2[i],list2[j]=list2[j],list2[i]

print(list2)

[4, 5, 2, 9, 1, 3, 8, 7, 6, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
#sorting the list using while loop
list2=[4,5,2,9,1,3,8,7,6,0]
print(list2)
i=0

while i < len(list2):
  j=i+1
  while j<len(list2):
    if list2[i]>list2[j]:
      list2[i],list2[j]=list2[j],list2[i]
    j+=1
  i+=1

print(list2)

[4, 5, 2, 9, 1, 3, 8, 7, 6, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list3=[4,5,2,9,1,3,8,7,6,0]
print(list3.pop(4))

1

In [39]:
import numpy as np
list2=[[4,5,2,9,1],[3,8,7,6,0]]
List_flattened=[item for sublist in list2 for item in sublist]
print(List_flattened)

arr=np.array(list2)
arr2=arr.flatten()
print(arr2)

[4, 5, 2, 9, 1, 3, 8, 7, 6, 0]
[4 5 2 9 1 3 8 7 6 0]

In [11]:
List_Initial=[6,4,6,2,1,9,0,8,7,20]
list1=set(List_Initial)
i=0
j=0
for i in range(len(list1)):
  j=i+1
  for j in range(len(list1)):
    if list1[i] < list1[j]:
      list1[i],list1[j]=list1[j],list1[i]
print(list1)

[0, 1, 2, 4, 6, 6, 7, 8, 9, 20]

In [14]:
List_Initial=[6,4,6,2,1,9,0,8,7,20]
set1=set(List_Initial)
print(set1)

{0, 1, 2, 4, 6, 7, 8, 9, 20}

In [21]:
tuple1=tuple(set1)
print(tuple(reversed(tuple1)))

(20, 9, 8, 7, 6, 4, 2, 1, 0)

In [41]:
#Left Trianle pattern

n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [30]:
# inverted left trangle
n=5
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [40]:
#Floyd's Triangle
n=5
num=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num,end=" ")
    num+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [49]:
# pyramid number pattern
def pyramid_number(n):
  for i in range(1,n+1):
    print(" "*(n-i),end='')
    for j in range(1,i+1):
      print(j,end=' ')
    print()

pyramid_number(10)

         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [52]:
#Reverse number triangle
n=5
for i in range(n,0,-1):
  print(" "*(n-1),end="")
  for j in range(n,i-1,-1):
    print(i,end=' ')
  print()

    5
    4 4
    3 3 3
    2 2 2 2
    1 1 1 1 1

In [62]:
#count vowels in a string
text="Hello"
vowels='aeiou'
new_Text=print([i for i in text if i in vowels])

['e', 'o']

In [68]:
# Text Alignment

text='PYTHON'
width=50
fill="*"
print(text.center(width,fill))
print(text.ljust(width,fill))
print(text.rjust(width,fill))

**********************PYTHON**********************
PYTHON********************************************
********************************************PYTHON

In [70]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add( "Vicki")
print(sampleSet)

{'Vicki', 'Jodi', 'Garry', 'Eric'}

In [71]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [75]:
x = 10
y = 3
print(x % y)

1

In [77]:
import numpy as np

# range for floats with np.arange()
for i in np.arange(0, 4.5, 0.5):
    print(i, end=', ')
# Output 0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0,
print()
# Example 2
for i in np.arange(5.5, 15.5, 2.5):
    print(i, end=' ')
# Output 5.5, 8.0, 10.5, 13.0,

0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0,
5.5 8.0 10.5 13.0

In [78]:
import numpy as np

# reverse range of floats
for i in reversed(np.arange(5.5, 30.5, 5.5)):
    print(i, end=', ')

27.5, 22.0, 16.5, 11.0, 5.5,

In [79]:
import numpy as np

# Float range using np.linspace()
# from 2.5 to 12.5
# num = total float numbers in the output
for i in np.linspace(2.5, 12.5, num=5):
    print(i, end=', ')
# Output 2.5, 5.0, 7.5, 10.0, 12.5,
print('')

# endpoint=False to not include stop number in the result
for i in np.linspace(2.5, 12.5, num=5, endpoint=False):
    print(i, end=', ')
# Output 2.5, 4.5, 6.5, 8.5, 10.5,

2.5, 5.0, 7.5, 10.0, 12.5,
2.5, 4.5, 6.5, 8.5, 10.5,

In [80]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d
    return inner_fun(a, b)

res = outer_fun(5, 10)
print(res)

15

In [4]:
x = 1
while x <= 3:
  print(x * '*', end=' ')
  x += 1

* ** ***

In [5]:
a, b = 12, 5
if a + b:
    print('True')
else:
  print('False')

True

In [6]:
items = ['apple', 'banana']
prices = [1.00, 0.50, 0.75] # Extra price for 'cherry'

for item, price in zip(items, prices):
    print(f"{item}: ${price}")
# Output:
# apple: $1.0
# banana: $0.5

apple: $1.0
banana: $0.5

In [8]:
print(type(range(5)))

<class 'range'>