In [1]:
print("Hello World")

Hello World

In [8]:
x=[1,4,7,9]
print(type(x))
y=sum(x)
print(y)
for i,j in enumerate(x,start=1):
  print((f'Text index in the List{i}:{j}'))

<class 'list'>
21
Text index in the List1:1
Text index in the List2:4
Text index in the List3:7
Text index in the List4:9

In [10]:
# Input/Output example
name=input("Enter your name: ")
print(f"Hello {name}")

Enter your name: SantoshKumar
Hello SantoshKumar

In [20]:
#Reverse a String
name=input("Enter your name: ")
revStr=""
for i in name[::-1]:
  revStr+=i
  print(i,end="")

print(revStr)

Enter your name: Santoshkumar
ramukhsotnaSramukhsotnaS

In [13]:
Name="SantoshKumar"
print(Name[::-1])

ramuKhsotnaS

In [15]:
Name="SantoshKumar"
lenName=len(Name)
for i in range(lenName-1,-1,-1):
  print(Name[i],end="")

r
a
m
u
K
h
s
o
t
n
a
S