In [1]:
print("Hello World")

Hello World

In [11]:
list1=[4,5,2,9,1,3,8,7,6,0]
list1.sort()
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list2=[4,5,2,9,1,3,8,7,6,0]
List_sorted=sorted(list2)
print(List_sorted)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#sorting the list using loop
list2=[4,5,2,9,1,3,8,7,6,0]
print(list2)
for i in range(len(list2)):
  for j in range(i+1,len(list2)):
    if list2[i]>list2[j]:
      list2[i],list2[j]=list2[j],list2[i]

print(list2)

[4, 5, 2, 9, 1, 3, 8, 7, 6, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
#sorting the list using while loop
list2=[4,5,2,9,1,3,8,7,6,0]
print(list2)
i=0

while i < len(list2):
  j=i+1
  while j<len(list2):
    if list2[i]>list2[j]:
      list2[i],list2[j]=list2[j],list2[i]
    j+=1
  i+=1

print(list2)

[4, 5, 2, 9, 1, 3, 8, 7, 6, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list3=[4,5,2,9,1,3,8,7,6,0]
print(list3.pop(4))

1

In [23]:
list2=[[4,5,2,9,1],[3,8,7,6,0]]
List_flattened=[item for sublist in list2 for item in sublist]
print(List_flattened)

[4, 5, 2, 9, 1, 3, 8, 7, 6, 0]