In [1]:
print("Hello World")

Hello World

In [11]:
list1=[4,5,2,9,1,3,8,7,6,0]
list1.sort()
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list2=[4,5,2,9,1,3,8,7,6,0]
List_sorted=sorted(list2)
print(List_sorted)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#sorting the list using loop
list2=[4,5,2,9,1,3,8,7,6,0]
print(list2)
for i in range(len(list2)):
  for j in range(i+1,len(list2)):
    if list2[i]>list2[j]:
      list2[i],list2[j]=list2[j],list2[i]

print(list2)

[4, 5, 2, 9, 1, 3, 8, 7, 6, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
#sorting the list using while loop
list2=[4,5,2,9,1,3,8,7,6,0]
print(list2)
i=0

while i < len(list2):
  j=i+1
  while j<len(list2):
    if list2[i]>list2[j]:
      list2[i],list2[j]=list2[j],list2[i]
    j+=1
  i+=1

print(list2)

[4, 5, 2, 9, 1, 3, 8, 7, 6, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list3=[4,5,2,9,1,3,8,7,6,0]
print(list3.pop(4))

1

In [39]:
import numpy as np
list2=[[4,5,2,9,1],[3,8,7,6,0]]
List_flattened=[item for sublist in list2 for item in sublist]
print(List_flattened)

arr=np.array(list2)
arr2=arr.flatten()
print(arr2)

[4, 5, 2, 9, 1, 3, 8, 7, 6, 0]
[4 5 2 9 1 3 8 7 6 0]

In [11]:
List_Initial=[6,4,6,2,1,9,0,8,7,20]
list1=List_Initial
i=0
j=0
for i in range(len(list1)):
  j=i+1
  for j in range(len(list1)):
    if list1[i] < list1[j]:
      list1[i],list1[j]=list1[j],list1[i]
print(list1)

[0, 1, 2, 4, 6, 6, 7, 8, 9, 20]

In [14]:
List_Initial=[6,4,6,2,1,9,0,8,7,20]
set1=set(List_Initial)
print(set1)

{0, 1, 2, 4, 6, 7, 8, 9, 20}

In [21]:
tuple1=tuple(set1)
print(tuple(reversed(tuple1)))

(20, 9, 8, 7, 6, 4, 2, 1, 0)

In [29]:
#Left Trianle pattern

n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [30]:
# inverted left trangle
n=5
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1